

      <div class="container">
        <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="AddUserTitleContainer">
                <div class="addUserTitleContainer">&nbsp;
                    <div style=font-weight:bold;>Add Details</div>
                    <button class="btn btn-warning "(click)="addNewUserBtn()">Add +</button>
                </div>&nbsp;
            <div *ngIf="newUserClicked">
                <form>
                    <div class="form-group col-g row">
                      <div class="col">
                      <label for="name"><b>Name</b></label>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Enter Your Name" [(ngModel)]="model.name">
                    </div>

                    <div class="form-group col-lg">
                        <label for="role"><b>Role</b></label>
                        <input name="role" type="text" class="form-control" id="role" placeholder="Enter Your role" [(ngModel)]="model.role">
                      </div>

                    <div class="form-group col-lg">
                        <label for="email"><b>Email</b></label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Enter Your Email" [(ngModel)]="model.email">
                      </div>

                    <div class="form-group col-lg">
                        <label for="password"><b>Password</b></label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Enter Your Password" [(ngModel)]="model.password">
                    </div>
                    </div><br><br>
                      <div class="form-group">
                        <!-- <label for="permission"><b>Permission</b></label><br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" name="permission" type="checkbox" id="permission" value="option1" [(ngModel)]="model.select">
                        </div> -->


                        <!-- table 1 -->

                            <table class="table">
                              <tr class="table-checkbox">
                                  <th>Forms</th>
                                  <th *ngFor="let per of perName;let i=index;">{{per}}</th>
                              </tr>
                              <tr>
                                <td>Blog</td>
                                <td><input class="form-check-input" name="view" type="checkbox" id="view" value="option1" [(ngModel)]="model.view"></td>
                                <td><input class="form-check-input" name="add" type="checkbox" id="add" value="option2" [(ngModel)]="model.add"></td>
                                <td><input class="form-check-input" name="edit" type="checkbox" id="edit" value="option3" [(ngModel)]="model.edit"></td>
                                <td><input class="form-check-input" name="delete" type="checkbox" id="delete" value="option4" [(ngModel)]="model.delete"></td>
                                </tr>

                                <tr>
                                  <td>ToDoList</td>
                                  <td><input class="form-check-input" name="view1" type="checkbox" id="view1" value="option5" [(ngModel)]="model.view1"></td>
                                  <td><input class="form-check-input" name="add2" type="checkbox" id="add2" value="option6" [(ngModel)]="model.add2"></td>
                                  <td><input class="form-check-input" name="edit3" type="checkbox" id="edit3" value="option7" [(ngModel)]="model.edit3"></td>
                                  <td><input class="form-check-input" name="delete4" type="checkbox" id="delete4" value="option8" [(ngModel)]="model.delete4"></td>
                                  </tr>
                            </table>

                        </div>

                        <div type="submit" class="btn btn-primary" (click)="addUser()" >Save</div>
                        </form>
                    </div>
                </div>
            </div><br>











<div class="container">
  <h2 style="text-align: center;margin-top: 60px;margin-bottom: revert;">User Details</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="onetitle">Name</th>
      <th scope="col" class="twotitle">Role</th>
      <th scope="col" class="sixtitle">View</th>
      <th scope="col" class="sixtitle">Add</th>
      <th scope="col" class="sixtitle">Edit</th>
      <th scope="col" class="sixtitle">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of users; let i= index">
      <td class="one">{{data.name}}</td>
      <td class="two">{{data.role}}</td>

      <td class="three"><input class="form-ckeck-input" type="checkbox" [checked]="data.view" (change)="onChangeCheck($event)"/></td>
      <td class="four"><input class="form-ckeck-input" type="checkbox" [checked]="data.add" (change)="onChangeCheck($event)"/></td>
      <td class="five"><input class="form-ckeck-input" type="checkbox" [checked]="data.edit" (change)="onChangeCheck($event)"/></td>
      <td class="six"><input class="form-ckeck-input" type="checkbox" [checked]="data.delete" (change)="onChangeCheck($event)"/></td>
      <td>
          <button class="btn btn-primary" (click)="editUser(i)">Edit</button> &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="deleteUser(i)">Delete</button></td>
      </tr>
  </tbody>
</table>
</div>

<div class="editUserTitleContainer">
  <h2 style="text-align: center;margin-top: 75px;margin-bottom: revert;">Edit Users And Permission</h2>
  <div class="editUserTitleContainer">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">View</th>
        <th scope="col">Add</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="form group name"><input type="text" class="form-control" id="name1" name="name1" [(ngModel)]="model2.name" placeholder="Name Here"></td>
        <td class="form group role"><input type="text" class="form-control" id="role1" name="role1" [(ngModel)]="model2.role" placeholder="role Here"></td>
        <td class="form group select"><input class="form-check-input" type="checkbox" id="view" name="view" [(ngModel)]="model2.view"></td>
        <td class="form group select"><input class="form-check-input" type="checkbox" id="add" name="add" [(ngModel)]="model2.add"></td>
        <td class="form group select"><input class="form-check-input" type="checkbox" id="edit" name="edit" [(ngModel)]="model2.edit"></td>
        <td class="form group select"><input class="form-check-input" type="checkbox" id="delete" name="delete" [(ngModel)]="model2.delete"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <button class="btn btn-primary" type="submit" (click)="updateUser()">Update</button>
</div>

