<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>



  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blog">
    <mat-icon>account_box</mat-icon> Blog
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/todolist">
    <mat-icon>account_box</mat-icon> ToDoList
  </a>


  <a mat-list-item routerLinkActive="list-item-active" (click)=logout()>
    <mat-icon>logout</mat-icon> Logout
  </a>

</mat-nav-list>
